@charset "ISO-8859-1";

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("backgroundHome.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	padding: 20px;
	border: 1px #ddd solid;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h1 {
	color: #810000;
}

.centeredText {
	text-align: center;
}

#dataTable, table {
	border: black solid 1px;
}