@charset "ISO-8859-1";

* {
	font-family: Arial, Helvetica, sans-serif;
}

#error {
	color: #e63617;
	
	position: absolute;
	left: 50%;
	top: 70%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h1 {
	color: #064635;
}

body, html {
	height: 100%;
	margin: 0;
}

.backgroundImage {
	position: relative;
	background-image: url("backgroundLogin.png");
	
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	padding: 20px;
	border: 1px #ddd solid;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.title {
	text-align: center;
}

.inputText {
	text-align: right;
}

.marginVert {
	margin: 20px 0;
}